<%- include('partials/header') -%>

<h1 class="text-4xl">Log in to start entering competitions</h1>

<% if (locals.isAuthenticated) { %>
    <p><a href="/profile" class="underline">View your profile</a>.</p>
<% } else { %>
    <p><a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
